<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{url_for('static',filename='cssstyle.css')}}">
  
</head>

<body>
<div class="logout" style={"float:right;"}>
<a href="{{ url_for('main')}}"><button>Logout</button></a>
</div>
 <h1 class="h1">Flight Delay Prediction</h1>
 
 <div class="login">
	

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
       Quater of the year <input type="number" name="quater" placeholder="ex:3" required="required" min='1' max='4' />
       Month in number<input type="number" name="month" placeholder="ex:12" required="required" min='1' max='12'/>
	   Day of the Month<input type="number" name="daym" placeholder="ex:28" required="required" min='1' max='31'/>
	   Day of the week<input type="number" name="dayw" placeholder="ex:7" required="required" min='1' max='7'/>
       Flight Number<input type="number" name="fnum" placeholder="ex:2823" required="required" max="9999"/>
	  
	   Origin Airport: <select name="airport" class="origin">
      <option value='1'>ATL</option>
      <option value='2'>DWT</option>
      <option value='3'>JFK</option>
      <option value='4'>MSP</option>
      <option value='5'>SEA</option>
	  </select><br><br>
	  Destination Airport: <select name="airportd" class="dest">
      <option value='1'>ATL</option>
      <option value='2'>DWT</option>
      <option value='3'>JFK</option>
      <option value='4'>MSP</option>
      <option value='5'>SEA</option>
	  </select><br><br>
	  Planned Departure Time(format hhmm)<input type="number" name="dtime" placeholder="ex:1723" required="required" max="9999"/>
	  Planned Arrival Time(format hhmm)<input type="number" name="atime" placeholder="ex:2023" required="required" max="9999"/>
	  Estimated Traveling Time(in munites)<input type="number" name="ttime" placeholder="ex:180" required="required" max="9999"/>
	  Distance(in Kms)<input type="number" name="distance" placeholder="ex:2500" required="required"min='140' max="99999"/>
        <button type="submit" class="btn btn-primary btn-block">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
   <br>
   <br>
   <br>

 </div>


</body>
</html>
